# Dependencias
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
out/
*.tsbuildinfo

# Ambiente / segredos — NUNCA versionar
.env
.env.*
!.env.example
**/secrets/
*.pem
*.key

# Prisma local
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Logs / cache
*.log
npm-debug.log*
coverage/
.cache/
.vite/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
